.bulletin-editor-root {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

  .bulletin-editor-root ::deep .bulletin-editor-toolbox {
    display: flex;
    justify-content: center;
  }

    .bulletin-editor-root ::deep .bulletin-editor-toolbox .bulletin-editor-toolbox-add {
      align-self: center;
    }

    .bulletin-editor-root ::deep .bulletin-editor-toolbox .bulletin-editor-toolbox-emoji {
      justify-content: space-between;
      flex-basis: auto;
    }

  .bulletin-editor-root ::deep .bulletin-editor-drop-container {
    overflow-y: auto;
  }

  .bulletin-editor-root ::deep .bulletin-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 160px;
  }

    .bulletin-editor-root ::deep .bulletin-editor .mud-dropitem-placeholder:first-child {
      position: relative;
    }

    .bulletin-editor-root ::deep .bulletin-editor .mud-dropitem-placeholder {
      width: 2px;
      padding: 0 !important;
    }

    .bulletin-editor-root ::deep .bulletin-editor .mud-drop-item-preview-start {
      left: 10px;
      position: relative;
      flex-basis: 10px;
      height: auto;
      margin-left: -21px;
    }

    .bulletin-editor-root ::deep .bulletin-editor .bulletin-item {
      display: flex;
      min-width: 110px;
      cursor: pointer;
    }

      .bulletin-editor-root ::deep .bulletin-editor .bulletin-item .bulletin-item-check {
        position: relative;
        left: -8px;
        height: 30px;
        width: 30px;
      }

      .bulletin-editor-root ::deep .bulletin-editor .bulletin-item .bulletin-item-remove {
        cursor: pointer;
      }

      .bulletin-editor-root ::deep .bulletin-editor .bulletin-item .bulletin-item-value {
        cursor: inherit;
        flex-grow: 1;
        flex-shrink: 0;
      }

        .bulletin-editor-root ::deep .bulletin-editor .bulletin-item .bulletin-item-value .bulletin-item-value-editor {
          border: none;
          background: transparent;
          outline: none;
          text-align: center;
        }
