@using Yotalab.PlanningPoker.Grains.Interfaces.Models

@inject NavigationManager NavigationManager
@inject ParticipantsService Service

<div class="alert alert-secondary mt-4" role="alert">
  <strong class="me-2 align-middle">@this.title</strong>
  @if (this.sessionExists)
  {
    <button class="font-weight-bold btn btn-sm btn-success"
            @onclick="@(async () => await this.Service.JoinAsync(this.Session.Id, this.ParticipantId))">
      Присоединиться
    </button>
  }
  else
  {
    <button class="font-weight-bold btn btn-sm btn-primary"
            @onclick="@(() => this.NavigationManager.NavigateTo("/"))">
      Вернуться к моим сессиям
    </button>
  }
</div>

@code {
  private string title;
  private bool sessionExists;

  [Parameter]
  public SessionInfo Session { get; set; }

  [Parameter]
  public Guid ParticipantId { get; set; }

  protected override async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
    this.sessionExists = this.Session != null && this.Session.IsInitialized;
    this.title = this.sessionExists ?
      $"Вы не являетесь участником сессии '{this.Session.Name}'" :
      "Сессии не существует";
  }
}
