@using Grains.Interfaces.Models

@inject IDialogService DialogService

<MudButton Variant="Variant.Text"
           Class="@this.ClassNames"
           Style="text-transform:none"
           Color="Color.Primary"
           Size="Size.Small"
           @onclick="@(() => EditParticipantInfoDialog.Show(this.DialogService, this.ParticipantInfo))">
  @if (this.TitleTemplate == null)
  {
    <span>@this.Title</span>
  }
  else
  {
    @this.TitleTemplate(this.Title)
  }
</MudButton>

@code {
  [Parameter]
  public ParticipantInfo ParticipantInfo { get; set; }

  [Parameter]
  public string Title { get; set; }

  [Parameter]
  public RenderFragment<string> TitleTemplate { get; set; }

  [Parameter]
  public string ClassNames { get; set; }
}
