@using Yotalab.PlanningPoker.BlazorServerSide.Services
@inherits OwningComponentBase<SessionService>

<MudPaper Class="pa-0">
  <section class="poker-card poker-card--heart@(this.isSelected ? " poker-card--selected" : string.Empty)"
           @onclick="@(async () => await this.OnPokerCardClick())"
           value="@this.Value.Value">
    <div class="d-flex justify-center align-center h-100">
      <MudText Typo="Typo.h2" Style="font-weight: 500;">
        @this.Value.Value
      </MudText>
    </div>
  </section>
</MudPaper>