################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
*.user
/Yotalab.PlanningPoker.BlazorServerSide/ScaffoldingReadMe.txt
**/obj
**/bin
/logs
/keys
