################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
*.user
/Yotalab.PlanningPoker.BlazorServerSide/ScaffoldingReadMe.txt
**/obj
**/bin
/logs
/keys
/Yotalab.PlanningPoker.BlazorServerSide/Properties/PublishProfiles/agile-poker.ru.pubxml
/Yotalab.PlanningPoker.BlazorServerSide/.config/dotnet-tools.json
Yotalab.PlanningPoker.BlazorServerSide/wwwroot/img/avatars
/dist/web/app
/dist/api/app
/dist/agile-poker.ru.tar
