<MudContainer Class="h-100 d-flex flex-column mx-auto" Style="padding-top: 5%" MaxWidth="MaxWidth.Small">
  <div style="text-align: center">
    <Logotype />
    <MudAlert Class="mt-5" Style="text-align: left" NoIcon="false" Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
      <MudText Class="d-inline">@UIResources.ErrorBoundaryText</MudText>
      <MudLink Href="/" Class="ml-0" Underline="Underline.None">@UIResources.ErrorBoundaryRefreshLink</MudLink>
    </MudAlert>
    <div style="background:url('icon-512.png');background-repeat: no-repeat;background-size:contain;min-height:512px;background-position-x:center;"></div>
  </div>
</MudContainer>
