@inject NavigationManager Navigation
<MudLink Href="@this.Navigation.BaseUri" Underline="Underline.None" Typo="Typo.h6" Color="Color.Inherit">
  🃏<span class="d-none d-md-inline"> Agile Poker</span>
</MudLink>