<div class="d-flex flex-grow-1 flex-shrink-0 mx-auto align-baseline">
  <span class="pr-4"><Logotype /></span>
  <MudButton Variant="Variant.Text" Color="Color.Primary" Link="/">Мои сессии</MudButton>
  <MudSpacer />
  <div class="d-flex align-self-center">
    <ProfileLink />
  </div>
</div>