<MudAppBar Dense="true" Color="Color.Transparent" Elevation="0" Fixed="false">
  <div class="d-flex flex-grow-1 flex-shrink-0 mx-auto">
    <div class="my-auto mx-2"><Logotype /></div>
    <MudLink Class="my-auto mx-2" Href="">Мои сессии</MudLink>
    <MudSpacer />
    <div class="my-auto mr-2 ml-auto"><ProfileLink /></div>
  </div>
</MudAppBar>