@using Grains.Interfaces.Models
@using Yotalab.PlanningPoker.Grains.Interfaces.Models.Notifications
@using Orleans.Streams
@inherits AuthorizedOwningComponentBase<ParticipantsService>
@implements IAsyncDisposable

@inject JSInteropFunctions JSFunctions
@inject IDialogService DialogService

@if (this.participantInfo != null)
{
  <MudMenu ButtonType="MudBlazor.ButtonType.Submit" Direction="Direction.Bottom" OffsetY="true">
    <ActivatorContent>
      <div class="d-flex align-items-center">
        <Avatar ClassNames="mr-2" Url="@this.participantInfo.AvatarUrl" IsSmall="true" />
        <MudText>@this.displayName</MudText>
      </div>
    </ActivatorContent>
    <ChildContent>
      <MudMenuItem OnClick="@(() => EditParticipantInfoDialog.Show(this.DialogService, this.participantInfo))">Изменить имя</MudMenuItem>
      <MudMenuItem Link="Identity/Account/LogOut" Target="_self">Выйти</MudMenuItem>
    </ChildContent>
  </MudMenu>
}

@code {
  private ParticipantInfo participantInfo;
  private string displayName;
  private StreamSubscriptionHandle<ParticipantChangedNotification> participantChangedSubscription;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    this.participantInfo = await this.Service.GetInfoAsync(this.ParticipantId);
    this.RefreshDisplayName(this.participantInfo);
    this.participantChangedSubscription = await this.Service.SubscribeAsync(this.TryRefreshIfCurrentParticipantChanged);
  }

  private Task TryRefreshIfCurrentParticipantChanged(ParticipantChangedNotification notification)
  {
    return notification.ChangedInfo.Id == this.ParticipantId ?
      this.InvokeAsync(() => this.Refresh(notification.ChangedInfo)) :
      Task.CompletedTask;
  }

  private void Refresh(ParticipantInfo info)
  {
    this.participantInfo = info;
    this.RefreshDisplayName(info);
    this.StateHasChanged();
  }

  private void RefreshDisplayName(ParticipantInfo info)
  {
    this.displayName = string.IsNullOrWhiteSpace(info?.Name) ? "Безымянный" : info.Name;
  }

  public async ValueTask DisposeAsync()
  {
    try
    {
      await this.participantChangedSubscription?.UnsubscribeAsync();
    }
    catch
    {
      // Игнорируем
    }
  }
}
