<section class="py-5 text-center container" style="position: relative; top: 15%;height:85%">
  <div class="mb-4 text-muted">
    <Logotype />
  </div>
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Ясное и простое планирование!</h1>
      <p class="lead text-muted">Сделайте оценку Agile-проектов простой и увлекательной.</p>
      <p>
        <a href="Identity/Account/Register" class="btn btn-primary my-2">Зарегистрироваться</a>
        <a href="Identity/Account/Login" class="btn btn-secondary my-2">Войти</a>
      </p>
    </div>
  </div>
</section>