<div style="margin-top:15%">
  <MudText Align="Align.Center" Class="mb-16">
    <Logotype />
  </MudText>

  <MudText Align="Align.Center">
    <MudText Typo="Typo.h4" GutterBottom="true">Ясное и простое планирование!</MudText>
    <MudText Typo="Typo.body1" Class="grey-text text-darken-1">Сделайте оценку Agile-проектов простой и увлекательной.</MudText>
    <p class="mt-4">
      <MudButton Link="@RegisterUrlBase" Color="Color.Primary" Variant="Variant.Filled" Class="mr-2">Зарегистрироваться</MudButton>
      <MudButton Link="@LoginUrlBase" Color="Color.Default" Variant="Variant.Filled">Войти</MudButton>
    </p>
  </MudText>
</div>

@code {
  @inject NavigationManager Navigation

  private const string LoginUrlBase = "Identity/Login";
  private const string RegisterUrlBase = "Identity/Register";

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    var relativePath = this.Navigation.ToBaseRelativePath(this.Navigation.Uri);
    if (!string.IsNullOrWhiteSpace(relativePath))
    {
      this.Navigation.NavigateTo($"{LoginUrlBase}?returnUrl=/{relativePath}");
    }
  }
}