<!--<div class="alert alert-success w-50 m-auto" role="alert">
  <h4 class="alert-heading">Ясное и простое планирование!</h4>
  <p>Сделайте оценку Agile-проектов простой и увлекательной.</p>
  <hr>
  <p class="mb-0">Для продолжения работы необходимо <a href="signin">войти2</a> <a href="Identity/Account/Login">войти</a> или <a href="Identity/Account/Register">зарегистрироваться</a>.</p>
</div>-->

<section class="py-5 text-center container" style="position: relative; top: 15%;">
  <div class="mb-4 text-muted">
    <Logotype />
  </div>
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Ясное и простое планирование!</h1>
      <p class="lead text-muted">Сделайте оценку Agile-проектов простой и увлекательной.</p>
      <p>
        <a href="Identity/Account/Register" class="btn btn-primary my-2">Зарегистрироваться</a>
        <a href="Identity/Account/Login" class="btn btn-secondary my-2">Войти</a>
      </p>
    </div>
  </div>
</section>