@page "/identity/forgotPassword"
@layout IdentityLayout

<MudCard Class="identity-card">
  <MudCardContent>
    <MudText Align="Align.Center" Class="mb-10" Typo="Typo.h4">
      <Logotype />
    </MudText>
    @if (this.showSuccessful)
    {
      <MudText Typo="Typo.h6" Class="mb-3">
        Сброс пароля
      </MudText>
      <MudAlert Severity="Severity.Success">На вашу почту отправлено письмо для сброса пароля.</MudAlert>
    }
    else
    {
      <MudText Typo="Typo.h6" Class="mb-3">
        Восстановление пароля
      </MudText>
      <MudFocusTrap>
        <EditForm class="identity-card--form" Model="this.email" OnValidSubmit="this.ValidSubmit">
          <DataAnnotationsValidator />
          <MudTextField InputType="InputType.Email"
                        @bind-Value="this.email"
                        Required="true"
                        Label="Введите адрес электронной почты" />
          <div class="d-flex mt-3">
            <MudSpacer />
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="ml-auto align-self-center">
              Сбросить пароль
            </MudButton>
          </div>
        </EditForm>
      </MudFocusTrap>
    }
  </MudCardContent>
</MudCard>
