@page "/identity/resetPassword"
@layout IdentityLayout

<MudCard Class="register-card">
  <MudCardContent>
    <MudText Align="Align.Center" Class="mb-10" Typo="Typo.h4">
      <Logotype />
    </MudText>
    @if (this.showResetSuccessful)
    {
      <MudAlert Severity="Severity.Success">Ваш пароль сброшен</MudAlert>
      <div class="d-flex mt-3">
        <MudButton Link="identity/login" Class="ml-auto align-self-center" Color="Color.Primary" Variant="Variant.Filled">Войти</MudButton>
      </div>
    }
    else
    {
      <MudText Typo="Typo.h6" Class="mb-3">
        Сброс пароля
      </MudText>
      <MudFocusTrap>
        <form action="api/identity/account/resetPassword" method="post" autocomplete="off" target="submit_handler" hidden>
          <input @bind-value="this.inputModel.Code" name="InputModel.Code" type="text" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.Email" name="InputModel.Email" type="email" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.Password" name="InputModel.Password" type="password" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.ConfirmPassword" name="InputModel.ConfirmPassword" type="password" autocomplete="off" hidden />
          <button @ref="this.submitButton" type="submit" hidden />
        </form>
        <iframe name="submit_handler" @onload="this.OnSubmitHandler" @onerror="this.OnErrorSubmitHandler" hidden></iframe>
        <EditForm class="register-form" EditContext="this.editContext" OnValidSubmit="this.ValidSubmit">
          <DataAnnotationsValidator />
          <MudTextField @bind-Value="this.inputModel.Email" Label="Эл. почта"
                        For="@(() => this.inputModel.Email)"
                        InputType="InputType.Email"
                        Required="true"
                        RequiredError="Введите эл. почту" />
          <MudTextField @bind-Value="this.inputModel.Password" Label="Новый пароль"
                        For="@(() => this.inputModel.Password)"
                        InputType="InputType.Password"
                        Required="true"
                        RequiredError="Введите пароль" />
          <MudTextField @bind-Value="this.inputModel.ConfirmPassword" Label="Подтверждение нового пароля"
                        For="@(() => this.inputModel.ConfirmPassword)"
                        InputType="InputType.Password"
                        Required="true"
                        RequiredError="Подтвердите пароль" />
          <div class="d-flex mt-3">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto align-self-center">Сбросить</MudButton>
          </div>
        </EditForm>
      </MudFocusTrap>
    }
  </MudCardContent>
  <!--
  @if (this.errors?.Any() == true)
  {
    <div class="mb-2">
      @foreach (var err in this.errors)
      {
        <MudAlert Severity="Severity.Error" Class="login-form-validation mt-1">@err</MudAlert>
      }
    </div>
  }
  -->
</MudCard>
