@page
@model ExternalLoginModel
@{
  ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Вход с помощью аккаунта @Model.ProviderDisplayName.</h4>

<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <label asp-for="Input.Email" class="visually-hidden"></label>
  <input asp-for="Input.Email" class="form-control" placeholder="@this.Html.DisplayNameFor(model => model.Input.Email)" required="" autofocus="" />
  <span asp-validation-for="Input.Email" class="text-danger"></span>
  <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
