@page
@model ForgotPasswordModel
@{
  ViewData["Title"] = "Забыли пароль?";
}

<form method="post">
  <div class="mb-4 text-center">
    <component type="@typeof(Yotalab.PlanningPoker.BlazorServerSide.Shared.Logotype)" render-mode="ServerPrerendered" />
  </div>
  <h1 class="h3 mb-3 fw-normal">Восстановление пароля</h1>
  @if (this.Model.ModelState.ErrorCount > 0)
  {
    <div class="alert alert-danger">
      <div asp-validation-summary="All" class="text-danger"></div>
    </div>
  }
  <label asp-for="Input.Email" class="visually-hidden">Логин (e-mail)</label>
  <input asp-for="Input.Email" class="form-control" placeholder="Логин (e-mail)" required="" autofocus="">
  <span asp-validation-for="Input.Email" class="text-danger"></span>

  <button class="w-100 btn btn-primary mt-3" type="submit">Отправить</button>

  <p class="mt-5 mb-3 text-muted">© Yotalab 2021</p>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
