@page
@model RegisterModel
@{
  ViewData["Title"] = "Регистрация";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
  <div class="mb-4 text-center">
    <component type="@typeof(Yotalab.PlanningPoker.BlazorServerSide.Shared.Logotype)" render-mode="ServerPrerendered" />
  </div>
  <h4>Новый пользователь</h4>
  <div asp-validation-summary="All" class="text-danger"></div>
  <span asp-validation-for="Input.Email" class="text-danger"></span>
  <label asp-for="Input.Email" class="visually-hidden"></label>
  <input asp-for="Input.Email" class="form-control" placeholder="Логин (e-mail)" autocomplete="off" />

  <span asp-validation-for="Input.Password" class="text-danger"></span>
  <label asp-for="Input.Password" class="visually-hidden"></label>
  <input asp-for="Input.Password" class="form-control" placeholder="Пароль" autocomplete="off" />

  <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
  <label asp-for="Input.ConfirmPassword" class="visually-hidden"></label>
  <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Повторите пароль" autocomplete="off" />

  <button type="submit" class="w-100 btn btn-primary">Создать</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
