@page
@model ResetPasswordConfirmationModel
@{
  ViewData["Title"] = "Подверждение сброса пароля";
}

<div style="width:500px;margin-left:-85px">
  <div class="mb-4 text-center">
    <component type="@typeof(Yotalab.PlanningPoker.BlazorServerSide.Shared.Logotype)" render-mode="ServerPrerendered" />
  </div>
  <h1 class="h3 mb-3 fw-normal">Ваш пароль сброшен</h1>
  <p>
    <a class="btn btn-primary" asp-page="./Login">Войти</a>
  </p>
</div>