@page "/sessions/{sessionId:guid}"
@using Grains.Interfaces.Models

@inherits AuthorizedOwningComponentBase<SessionService>


@if (this.session != null)
{
  @if (this.userNotJoinedToSession || !this.session.IsInitialized)
  {
    <JoinPrompt Session="this.session"
                ParticipantId="this.ParticipantId" />
  }
  else
  {
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
      <MudText Class="mb-0 mx-2" Typo="Typo.h4" Align="Align.Center">@this.session.Name</MudText>
      @if (this.session.ModeratorIds.Contains(this.ParticipantId))
      {
        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="this.OnShowEditModal" aria-label="edit"></MudIconButton>
      }
    </div>
    <CascadingValue Value="@this.session">
      <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last mt-4">
          <SessionStatusPrompt ParticipantId="this.ParticipantId" />

          <ParticipantsVotesList PaticipantVotes="this.participantVotes"
                                 ParticipantId="this.ParticipantId" />
        </div>
        <div class="col-md-7 col-lg-8">
          @if (this.session.ProcessingState != SessionProcessingState.Finished)
          {
            if (this.User != null)
            {
              <PokerCardDeck SessionId="this.SessionId"
                             Bulletin="this.bulletin"
                             ParticipantId="this.ParticipantId"
                             ParticipantVote="this.participantVote"
                             CanVote="this.session.ProcessingState == SessionProcessingState.Started || this.session.ProcessingState == SessionProcessingState.Stopped" />
            }
          }
          else
          {
            <ParticipantsVotesResult PaticipantVotes="this.participantVotes" />
          }
        </div>
      </div>
    </CascadingValue>
  }
}
else
{
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
}