@page "/"

@using Yotalab.PlanningPoker.Grains.Interfaces.Models

@inherits AuthorizedOwningComponentBase<SessionService>
@inject NavigationManager NavigationManager

<MudText Typo="Typo.h4" Align="Align.Center">Мои сессии</MudText>
<div class="mt-2"></div>
@if (this.sessions != null)
{
  <MudPaper>
    @if (this.sessions.Count > 0)
    {
      <MudTable Items="this.sessions" OnRowClick="this.OnRowClick" Hover="true" Breakpoint="Breakpoint.Sm" Dense="true" T="SessionInfo">
        <RowTemplate>
          <MudTd Style="cursor:pointer">
            <div class="d-flex flex-grow-1 align-center" style="min-height:48px">
              <div class="d-flex flex-grow-1 flex-wrap align-center">
                <div class="flex-grow-1 flex-shrink-0 d-flex align-center">
                  <MudText>@context.Name</MudText>
                  @if (context.ProcessingState == Grains.Interfaces.Models.SessionProcessingState.Started)
                  {
                    <MudChip Label="true" Style="cursor:pointer" Class="ml-2" Color="Color.Error" Size="Size.Small">Голосование идет</MudChip>
                  }
                </div>
                <div>
                  @if (context.ModeratorIds.Contains(this.ParticipantId))
                  {
                    <MudChip Label="true" Style="cursor:pointer" Class="mr-2 ml-0" Color="Color.Primary" Size="Size.Small">Вы модератор</MudChip>
                  }
                  <MudChip Label="true" Style="cursor:pointer" Class="ml-0" Color="Color.Success" Size="Size.Small">Участников: @context.ParticipantsCount</MudChip>
                </div>
              </div>
              <div>
                @if (context.ModeratorIds.Contains(this.ParticipantId))
                {
                  var contextMenuItems = this.BuildRowContextMenu(context);
                  <DropDownMenu Icon="@Icons.Material.Filled.MoreVert" Items="contextMenuItems" />
                }
              </div>
            </div>
          </MudTd>
        </RowTemplate>
      </MudTable>
    }
    else
    {
      <MudList>
        <MudListItem Text="Сессий нет" />
      </MudList>
    }
  </MudPaper>

  <div class="d-flex justify-end pa-3">
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="this.OnShowCreationModal" />
  </div>
}
else
{
  <div class="d-flex justify-center">
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
  </div>
}